.nav-main {
    box-shadow: 1px 2px 1px silver;
    margin-bottom: 25px;
    background: linear-gradient(-180deg,#f53d2d,#f63);
}
a {
    color: #ffffff;
}
.input-group-wrapper{
    background-color: #ffffff;
    padding: 3px;
    .input-group{
        input{
            border: none;
            outline: none;
        }
        .input-group-append{
            button{
                background: linear-gradient(-180deg,#f53d2d,#f63);
                color: #ffffff;
                border-radius: 0;
            }
        }
    }
}
.nav-second{
    background-color: #19c7c7;
}