<nav class="navbar navbar-fixed-top navbar-expand-sm nav-main">
    <div class="container">
        <div class="col-sm-2">
            <a routerLink="" class="navbar-brand">
                <img src="assets/brand.png" class="w-100">
            </a>
        </div>
        <div class="col-sm-8">
            <div class="input-group-wrapper">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm">
                    <div class="input-group-append ml-2">
                        <button type="button" class="btn">
                            <fa-icon [icon]="['fas', 'search']"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    Tài khoản
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                    <li class="dropdown-item">Bạn chưa đăng ký?</li>
                    <li class="dropdown-item">
                        <a class="btn btn-success" href="#">Đăng ký</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="cartDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    Giỏ hàng
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="cartDropdown">
                    <li class="dropdown-item">
                        <a href="#" class="btn btn-success">
                            Vào giỏ hàng
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
    </div>
</nav>
<!-- <nav class="navbar navbar-default nav-second">
    <div class="container">
        <ul class="navbar-nav flex-row">
            <li class="nav-item dropdown">
                <button class="btn btn-info dropdown-toggle" id="navMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Danh mục sách
                </button>
            </li>
        </ul>
    </div>
</nav> -->
