<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">CHÍNH SÁCH BẢO MẬT</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">QUY CHẾ HOẠT ĐỘNG</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">CHÍNH SÁCH VẬN CHUYỂN</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a>
                      </li>
                </ul>
            </div>
        </div>
    </div>
</footer>