.footer{
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    // height: 60px;
    line-height: 60px;
    // background-color: #f5f5f5;
    background: linear-gradient(-180deg,#f53d2d,#f63);
}
.nav-item{
    a{
        color: #ffffff !important;
    }
}