#sidebar.active{
    min-width: 95px;
    max-width: 95px;
    text-align: center;
    ul li a{
        padding: 20px 15px;
        text-align: center;
        font-size: 0.85em;
        fa-icon{
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }
    }
    .sidebar-header{
        #showSidebar{
            display: block;
        }
        h5{
            display: none;
        }
    }
}

#sidebar{
    transition: all .2s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #ffffff;
    box-shadow: 1px 2px 3px 2px #999;
    .sidebar-header{
        background-color: #F7941E;
        color: #ffffff;
        padding: 15px;
        position: relative;
        h5 > a{
            position: absolute;
            right: 20px;
        }
        #showSidebar{
            display: none;
        }
    }
    p{
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    a, a:hover, a:focus{
        color: inherit;
        text-decoration: none;
        transition: all .3s;
    }
    ul.components{
        padding: 10px 0;
    }
    ul{
        ul a {
            padding-left: 30px !important;
            font-size: 0.9em;
            background: #6d7fcc;
        }
        li{
            a{
                padding: 10px;
                font-size: 1.1em;
                text-align: left;
                display: block;
            }
            a:hover{
                color: #7386D5;
                background-color: #999;
            }
        }
        li.active> a, a[aria-expanded=true]{
            color: #ffffff;
            background-color: #999;
        }
    }
}



a[data-toggle=collapse]{
    position: relative;
}

.dropdown-toggle::after{
    display:block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#sidebar.active .dropdown-toggle::after{
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

@media (max-width: 768px){
    #sidebar{
        margin-left: 250px;
    }
    #sidebar.active{
        margin-left: 0;
    }
}