<nav id="sidebar" [ngClass]='sideBarToggler'>
    <div class="sidebar-header">
        <h5>Danh mục <a (click)="toggle()"><fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon></a></h5>
        <!-- <strong><fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon></strong> -->
        <a id="showSidebar" (click)="toggle()"><fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon></a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a data-target="#cate-1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <fa-icon [icon]="['fab', 'artstation']"></fa-icon> Hành Động
            </a>
            <ul class="collapse list-unstyled" id="cate-1">
                <li>
                    <a [routerLink]="'/home'" [routerLinkActive]="'active'" >FPS</a>
                </li>
                <li>
                    <a href="#">TPS</a>
                </li>
                <li>
                    <a href="#">Chặt chém</a>
                </li>
                <li>
                    <a href="#">Đối Kháng</a>
                </li>
                <li>
                    <a href="#">Lén lút</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#cate-2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <fa-icon [icon]="['fas', 'chess-knight']"></fa-icon> Chiến Thuật
            </a>
            <ul class="collapse list-unstyled" id="cate-2">
                <li>
                    <a href="#">Theo Lượt</a>
                </li>
                <li>
                    <a href="#">RTS/ Thời gian thực</a>
                </li>
                <li>
                    <a href="#">Thời gian thực</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#cate-3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <fa-icon [icon]="['fas', 'atlas']"></fa-icon> Phiêu lưu
            </a>
            <ul class="list-unstyled collapse" id="cate-3">
                <li>
                    <a href="#">Thế Giới Mở</a>
                </li>
                <li>
                    <a href="#">Nhập Vai</a>
                </li>
                <li>
                    <a href="#">Sinh Tồn</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#cate-4"><fa-icon [icon]="['fas', 'atlas']"></fa-icon> Thể Thao</a>
            <ul class="list-unstyled collapse" id="cate-4">
                <li>
                    <a href="#">Đua Xe</a>
                </li>
                <li>
                    <a href="#">Bóng đá</a>
                </li>
                <li>
                    <a href="#">Thể Thao Khác</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><fa-icon [icon]="['fas', 'atlas']"></fa-icon> Coop/ Multiplayer</a>
        </li>
        <li>
            <a href="#cate-6" data-toggle="collapse" aria-expanded="false" class="collapse-toggle"><fa-icon [icon]="['fas', 'atlas']"></fa-icon> Thể Loại Khác</a>
            <ul class="collapse list-unstyled" id="cate-6">
                <li>
                    <a href="#">Mô phỏng</a>
                </li>
                <li>
                    <a href="#">Giải Đố</a>
                </li>
                <li>
                    <a href="#">Indie</a>
                </li>
                <li>
                    <a href="#">Thẻ Bài</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><fa-icon [icon]="['fas', 'atlas']"></fa-icon> Tin game</a>
        </li>
    </ul>
</nav>