.nav-text{
    text-decoration: none;
    color: rgba(0,0,0,.54);
    color: #ee4d2d;
    font-style: italic;
    font-weight: 400;
}
.view-all{
    color: #ee4d2d;
    text-decoration: none;
}

section.wrapper{
    background-color: #ffffff;
    margin-top: 25px;
    .section-header{
        h4.nav-text{
            padding: 15px;
            border-bottom: 1px solid rgba(0,0,0,.05);;
        }
    }
    .section-body{
        padding: 15px;
    }
}
.hr:after {
    content: "";
    display: block;
    border-bottom: 1px solid #DEE2E6;
    margin-bottom: 20px;
}
.view-more{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    width: 220px;
    background-image: linear-gradient(to right, #ff9800, #F7695D);
    transition: transform .2s;
    outline: 0;
    text-decoration: none;
    box-shadow: 2px 3px 5px #ccc;
    display: inline-block;
}
.view-more:hover{
    box-shadow: 0px 6px 8px hsl(0, 0%, 90%);
}

// Category
.category-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background-color: #ffffff;
    .category-item{
        flex-basis: 10%;
        a{
            text-align: center;
            img{
                max-width: 75%;
            }
        }
    }
}
.no-outline{
    outline: 0;
}
