<div class="row">
    <div class="col-md-12">
        <ngb-carousel [ngClass]="'no-outline'" *ngIf="images">
            <ng-template *ngFor='let url of images' ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="url" alt="Random first slide" class="w-100">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="col-md-12 mt-2">
        <ngb-carousel [ngClass]="'no-outline'" #categorySlide *ngIf="categoryList" [showNavigationArrows]="false" [showNavigationIndicators]="false">
            <ng-template ngbSlide>
                <div class="category-wrapper">
                    <div *ngFor="let i of categoryList" class="category-item w-100">
                        <div class="category-img-wrapper text-center">
                            <a href="#">
                                <img src="assets/edu-cate.png" alt="">
                            </a>
                            <h6>Category-{{i}}</h6>
                        </div>
                    </div>
                </div>
              </ng-template>
        </ngb-carousel>
    </div>
</div>
<!-- <div class="row top-list mt-2">
    <div class="col-md-6">
        <img class="img-thumbnail" src="assets/top100.jpg" alt="">
    </div>
    <div class="col-md-3">
        <img src="assets/top100-2.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-3">
        <img src="assets/top100-3.jpg" alt="" class="img-thumbnail">
    </div>
</div> -->
<section class="wrapper rounded">
    <div class="section-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="nav-text">Khuyên đọc</h4>
            </div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-md-3">
                <app-book-detail [imgUrl]="'assets/book_item.jpg'" [title]="'Harry Potter Hộp (Trọn Bộ 7 Cuốn)'"
                    [price]="'60,000'"></app-book-detail>
            </div>
            <div class="col-md-3">
                <app-book-detail [imgUrl]="'assets/book_item.jpg'" [title]="'Harry Potter Hộp (Trọn Bộ 7 Cuốn)'"
                    [price]="'60,000'"></app-book-detail>
            </div>
            <div class="col-md-3">
                <app-book-detail [imgUrl]="'assets/book_item.jpg'" [title]="'Harry Potter Hộp (Trọn Bộ 7 Cuốn)'"
                    [price]="'60,000'"></app-book-detail>
            </div>
            <div class="col-md-3">
                <app-book-detail [imgUrl]="'assets/book_item.jpg'" [title]="'Harry Potter Hộp (Trọn Bộ 7 Cuốn)'"
                    [price]="'60,000'"></app-book-detail>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center pb-3">
            <a href="#" class="view-more">Xem Thêm</a>
        </div>
    </div>
</section>

<section class="wrapper rounded">
    <div class="section-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="nav-text">Nổi bật</h4>
            </div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div *ngFor="let i of listBook" class="col-md-3">
                <app-book-detail [imgUrl]="'assets/book_item.jpg'" [title]="'Harry Potter Hộp (Trọn Bộ 7 Cuốn)'"
                    [price]="'60,000'"></app-book-detail>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center pb-3">
                <a href="#" class="view-more">Xem Thêm</a>
            </div>
        </div>
    </div>
</section>