.book-item-content{
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 15px;
    // box-shadow: 3px 3px 3px -1px #999999;
    // border: 0px solid  #D6D6D6;
}
.book-item-content:hover{
    transform: translateY(-3px);
    transition: transform .2s ease-in-out;
    box-shadow: 1px 1px 5px -1px #999999;
    // border: 1px solid  #D6D6D6;
}
.product-title{
    a{
        text-decoration: none;
        color: #646464;
    }
    a:hover{
        color: #646464;
    }
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    -moz-line-clamp: 2;
    display: -moz-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-cart{
    background-color: #ec5252;
    color: white;
}
.btn-cart:hover{
    background-color: #992337;
    color: white;
}
.badge-warning{
    background-image: linear-gradient(to right, #ff9800, #F7695D);
    font-size: 100%;
    color: white;
}
.img-wrapper{
    text-align: center;
    img{
        max-width: 130px;
    }
}
.button-wrapper{
    display: flex;
    justify-content: flex-end;
}
@media only screen and (max-width: 991px) {
    .img-wrapper{
        img{
            max-width: 90px;
        }
    }
    .button-buy{
        width: 100%;
    }
}
