<div class="book-item-content">
    <div class="row">
        <div class="col-md-12 img-wrapper mb-1">
            <img [src]='imgUrl' [alt]="notFoundImg">
        </div>
        <div class="col-md-12 mb-1">
            <div class="product-title"><a href="#" [title]="title">{{title}}</a></div>
        </div>
        <div class="col-md-12 mb-1">
            <div class="text-muted">
                <span class="badge badge-warning">{{price}} VNĐ</span>
            </div>
        </div>
        <!-- <div class="col-md-12 button-wrapper">
            <button type="button" class="btn btn-success mr-1 button-buy">Mua</button>
            <a type="button" class="btn btn-cart">
                <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            </a>
        </div> -->
    </div>
</div>