body{
    position: relative;
    background-color: #F5F5F5 !important;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1366px;
}
input:focus, button:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
